html {
    font-size: 16px;
}
body {
    background-color: burlywood;
    color: black;
    padding: 20px;
}
h1, h2 {
    color: rgba(57, 36, 36, 0.8);
    font-family: Impact;
    text-align: center;
    background-color: rgba(143, 75, 75, 0.5);

    margin-left: auto;
    margin-right: auto;
}
a {
    color: black;
}
a:visited {
    color: black;
}
a:hover, a:active {
    color: brown;
}
footer {
    font-size: 14px;
}
#conphung, #chua{
    margin-top: -15px;
}
section {
    margin-bottom: 20px;
}
.ending {
    font-size: 12px;
}
figcaption {
    font-size: 12px;
}
fieldset {
    border-color: brown;
}